.Blog {
  text-align: center;
}

.Blog-nav {
  display: flex;
  background: black;
  width: 100%;
  color: aqua;
  padding-left: 20px;
}

.Blog-list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid gray;
}

.Blog-modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}